
/* Navigation Styles */
nav {
    background-color: #006B12;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Makes sure the items wrap if there isn’t enough space */
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    position: relative;
    margin: 5px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #00FBFF;
    text-decoration: none;
    border: 2px solid #02e328;
    background-color: #006B12;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #006B12;
    padding: 0;
    list-style: none;
  }
  
  nav ul li ul li {
    width: 150px;
  }
  
  nav ul li ul a {
    padding: 10px 15px;
  }
  
  @media only screen and (max-width: 640px) {
    nav ul {
      flex-direction: column;
      align-items: stretch;
    }
  
    nav ul li {
      width: 100%; /* Ensure list items take up full width */
      text-align: center;
    }
  
    nav ul li ul {
      position: static; /* Ensures submenus display as block elements */
      display: block;
    }
  
    nav ul li ul li {
      width: 100%;
    }
  }