html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.AboutPage {
    display: grid;
  grid-template-columns: 5fr 5fr 1fr 5fr 5fr;
  grid-template-rows: 5fr 5fr 5fr 20fr 20fr 1fr 5fr;
  grid-gap: 15px;
  height: 720px;
}
.reflectionpage {
  display: grid;
  grid-template-columns: 10fr 5fr 5fr 10fr;
  grid-template-rows: 5fr 5fr 5fr 20fr 20fr 20fr 20fr 1fr 5fr;
  grid-gap: 15px;
  height: 720px;
}
.homepage {
  display: grid;
  grid-template-columns: 10fr 1fr 5fr 5fr 5fr;
  grid-template-rows: 5fr 5fr 5fr 20fr 5fr;
  grid-gap: 15px;
  height: 720px;
}
.projectpage {
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  grid-template-rows: 5fr 5fr 5fr 20fr 5fr;
  grid-gap: 15px;
  height: 720px;
}
.OmnitrixTrio, .FistsOfFury, .HollowKnight {
  background-color: #003668;
    border: 4px solid #00e1ff;
    position:relative;
    padding: 25px 25px 25px 25px;
    color: #00FF2A;
    font-weight: bold;
    text-align: center;
}
.OmnitrixTrio {
  grid-column-start: 1;
  grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4; 
}
.FistsOfFury {
  grid-column-start: 2;
  grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4; 
}
.HollowKnight{
  grid-column-start: 3;
  grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4; 
}
.title {
    font-size: 175%;
    color: #00FF2A;
    grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-gap: 0px;
}
.aboutphoto {
    grid-column-start: 3;
  grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4; 
}
.homeportrait {
  grid-column-start: 4;
grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4; 
}
.meabout {
    color: #FFFFFF;
    grid-column-start: 2;
  grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5; 
    text-align: center; 
}
.quote {
    color: #bbbbbb;
    text-align: center;
}
.BBstat {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
    grid-row-end: 4;
}
.kohlsstat {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
    grid-row-end: 5;
}
.schnucksstat {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 6;
    grid-row-end: 6;
}
.BBdesc {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
    grid-row-end: 4;
}
.kohlsdesc {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
    grid-row-end: 5;
}
.schnucksdesc {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
    grid-row-end: 6;
}
.BBstat, .kohlsstat, .schnucksstat {
    background-color: #003668;
    border: 4px solid #00e1ff;
    position:relative;
    padding: 25px 25px 25px 25px;
    color: #00FF2A;
    font-weight: bold;
}
.BBdesc, .kohlsdesc, .schnucksdesc {
    background-color: #003668;
    border: 4px solid #00e1ff;
    position:relative;
    width: 300px;
    padding: 25px 25px 25px 25px;
    color: #FFFFFF;
}
.hed {
    text-align: center;
    font-size: 200%;
    color: #00FF2A;
    grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
}
.hedextra {
    text-align: center;
    font-size: 200%;
    color: #00FF2A;
    grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;  
}
.homehead {
  text-align: center;
    font-size: 200%;
    color: #00FF2A;
    grid-column-start: 1;
  grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3; 
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
}
.homeintro {
  color: #FFFFFF;
    grid-column-start: 1;
  grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4; 
    text-align: center; 
    margin-left: 10%;
    margin-right: 5%;
}
.Reflection {
    background-color: #00899b;
    color: #FFFFFF;
    padding: 15px 15px 15px 15px;
    text-align: center;
    grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
    margin-left: 2%; 
    margin-right: 2%;
}
.first-para::first-letter {
    font-size: 150%;
    color: #2bff00;
    text-align: center;
}
.indent {
    text-indent: 10px;
    text-align: center;
}
.resumelink {
    background-color: #006B12;
    border: 4px solid #02e328;
    text-align:center;
    padding: 5px 75px 5px 75px;
    grid-column-start: 3;
  grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}
footer {
    background-color: #000000;
    text-align:center;
    position:sticky;
    padding: 25px 25px 25px 25px;
    color: #FFFFFF;
    grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 9;
}
.line {
  grid-column-start: 3;
  grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 8;
  border-left: 2px solid #FFFFFF;
}

#menu-toggle:checked + label + #menu ul {
  display: block;
}
#menu-toggle {
  display: none;
}
@media (min-width: 768px) {
  nav ul {
      display: block;
  }
  
  #hamburger {
      display: none;
  }
}
@media only screen and (max-width: 1138px) {
.homeportrait {
  grid-column-start: 4;
  grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4; 
  margin-left: auto;
  margin-right: auto; 
}
.homehead {
  text-align: center;
    font-size: 200%;
    color: #00FF2A;
    grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3; 
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
}
.homeintro {
  color: #FFFFFF;
    grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5; 
    text-align: center; 
    margin-left: 10%;
    margin-right: 5%;
}
.line {
  display: none;
}
.OmnitrixTrio {
  grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4; 
}
.FistsOfFury {
  grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5; 
}
.HollowKnight{
  grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6; 
}
}
@media only screen and (max-width: 640px) {
  .homeportrait {
    grid-column-start: 4;
    grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 4; 
    margin-left: auto;
    margin-right: auto; 
  }
  .homehead {
  text-align: center;
    font-size: 200%;
    color: #00FF2A;
    grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3; 
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
}
.homeintro {
  color: #FFFFFF;
    grid-column-start: 1;
  grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5; 
    text-align: center; 
    margin-left: 10%;
    margin-right: 5%;
}
.line {
  display: none;
}
.OmnitrixTrio {
  grid-column-start: 2;
  grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4; 
}
.FistsOfFury {
  grid-column-start: 2;
  grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5; 
}
.HollowKnight{
  grid-column-start: 2;
  grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6; 
}
nav ul>li ul {
  display: none;
}
  .mobilebar {
      background-color: #00e1ff; 
      width: 100%;
      height: 65px;
      top: 0px;
    grid-column-start: 1;
    grid-column-end: 6; 
    grid-row-start: 2;
    grid-row-end: 2;
    z-index: 1000;
  }

  #hamburger {
      display: inline-block;
      font-size: 2em;
      padding: 10px;
      cursor: pointer;
      color: rgb(0, 0, 0);
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  #hamburger:checked + ul, nav:hover ul {
      display: flex;
  }

  nav>ul li {
      float: none;
      width: 100%;
      text-align: left;
  }

  nav a {
      padding: 15px 15px;
      width: 100%;
  }
}